{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Django Tailwind</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"> {% tailwind_css %}
</head> 
{% block nav %}{% include 'navbar.html' %}{% endblock nav %} 

<div class="flex">
	<div class="m-auto">
	{% if messages %} 
		{% for message in messages%}
			{% if message.tags == "success" %} 
			<div class="bg-green-200 border-green-600 text-green-600 border-l-4 p-4" role="alert">
				<p class="font-bold">Success</p>
				<p>{{ message }} </p>
			</div>
		 {% endif %}

		 {% if message.tags == "error" %} 
				<div class="bg-yellow-200 border-red-600 text-red-600 border-l-4 p-4" role="alert">
					<p class="font-bold">Error</p>
					<p>  {{message}}</p>
				</div>
		{% endif %}
	{% endfor%} 
{% endif %}


{% if balance %}
	<h1 class="text-xl font-bold">You have: {{balance.btc}}  BTC</h1>
	<h1 class="text-xl font-bold">You have: {{balance.money}} $</h1>
{% endif %}
	<main class="mt-2"> 

		{% block content %} {% endblock content %}
 </main>
	</div>
</div>
</div>
</body>

</html>