{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <form  method = "POST"> 
      {% csrf_token %} 
      {{ form|crispy }}
    
    <button type="submit" class=" mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Log In</button>
    </form>
    
  <p > Need An Account? <a class="text-red-500" href="{% url 'register' %}"> Sign In </a></p>


{% endblock content %}